<!DOCTYPE html>
<html lang="zh"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="<%= theme.link %>/css/styles.css">
</head>
<body>

<main class="container">
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <article class="content">
    <p>糟糕，这个页面走丢了</p>
    <p><strong>404 Not Found</strong></p>
    <p>
      <a href = <%= theme.link %> ><button>返回主页</button></a>
    </p>
  </article>
</main>



</body></html>