<div class="hd logodiv">
    <%- image_tag(theme.gender,{class: 'logopng'}) %>
    <p class="logot">
         <%= theme.logo_title %> 
         <span class="logo_2"><i class="fa fa-battery-full" ></i></span>
        <h3 class="words" style="font-weight: bold;font-family: Georgia;"> 
            <%= theme.words %> 
        </h3>
    </p>

</div>
<style type="text/css">
    /* don't remove. */
    .page404-cover {
        height: 88vh;  /*页面高度*/
    }
</style>
 
<!-- 包含导航栏和页脚 -->
<div class="bg-cover pd-header page404-cover">  
    <div class="container"> 
        <div class="row">
            <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
                <div class="brand" align="center">
                    <div class="title center-align">
                        <h1> 404 not Found </h1>
                    </div>
                    <br>
                    <div class="description center-align">
                        <h2> 你要找的页面飞走了✈️ </h2>
                        <h2> 请点击 <a href = <%= theme.link %> style="color: Chocolate">Here</a>回到主页
                        </h2>
                    </div>
                </div>
            </div>
        </div>
 
    </div> 